# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.level dez.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\buber\Downloads\level dez\level dez\.idea\.idea.level dez\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
